<div class="clearfix"></div>
<div class="services-section">
  <div class="inner-width">
    <h1 class="section-title">Nuestros servicios</h1>
    <div class="border-title"></div>
    <div class="services-container">
      <div class="service-box" *ngFor="let serv of this.services;">
        <div class="service-icon">
          <i class="{{serv.icon}}"></i>
        </div>
        <div class="service-title">{{serv.title}}</div>
        <div class="service-desc">{{serv.description}}</div>
      </div>
    </div>
  </div>
</div>
