<div class="parallax">
    <h1>Bienvenido</h1>
    <p>
      Hola Profesor, esperamos tenga una gran pasion por lo que hace, 
      no que sea por salida laboral. Por que, sino esa es la mentalidad que transmite.
    </p>
    <div class="animated-text">
      <div class="line">"Dime y lo olvido,</div>
      <div class="line">enseñame y lo recuerdo</div>
      <div class="line">involucrame y lo aprendo."</div>
    </div>
  </div>
  <div class="container">
    <section class="content-side">
      <div>
        <br />
        <h1 class="title-header">Clases</h1>
        <p class="apart-team">Grupo: 1M1-IS (Ingenieria en sistemas)</p>
        <div class="class-container">
          <div class="class-box">
            <img class="class-ref-img" src="images/mates.jpg" alt="mates" />
            <p class="class-title">Matematica I</p>
            <div class="cls-prog">
              <p>Progreso: 90%</p>
              <div class="progress-bar-border">
                <div class="performance" por="90"></div>
              </div>
            </div>
            <span class="hw-no">No hay tarea</span>
          </div>
          <div class="class-box">
            <img class="class-ref-img" src="images/filo.jpg" alt="mates" />
            <p class="class-title">Filosofia</p>
            <div class="cls-prog">
              <p>Progreso: 90%</p>
              <div class="progress-bar-border">
                <div class="performance" por="90"></div>
              </div>
            </div>
            <span class="hw-no">No hay tarea</span>
          </div>
        </div>
        <p class="apart-team">Grupo: 1M1-IC (Ingenieria Civil)</p>
        <div class="class-container">
          <div class="class-box">
            <img class="class-ref-img" src="images/filo.jpg" alt="mates" />
            <p class="class-title">Filosofia</p>
            <div class="cls-prog">
              <p>Progreso: 90%</p>
              <div class="progress-bar-border">
                <div class="performance" por="90"></div>
              </div>
            </div>
            <span class="hw-no">No hay tarea</span>
          </div>
          <div class="class-box">
            <img class="class-ref-img" src="images/mates.jpg" alt="mates" />
            <p class="class-title">Matematica II</p>
            <div class="cls-prog">
              <p>Progreso: 80%</p>
              <div class="progress-bar-border">
                <div class="performance" por="80"></div>
              </div>
            </div>
            <span class="hw-no">No hay tarea</span>
          </div>
        </div>
      </div>
      
      <div>
        <br />
        <h1 class="title-header">Asignaciones</h1>
        <p class="asg-no">No hay asignaciones</p>
      </div>
    </section>
    <app-side-content isTeacher="true"></app-side-content>
    <app-our-services></app-our-services>
    <div class="only-text">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita eos,
        iste sint rem quo, ducimus minima dolore accusantium a soluta
        architecto dicta vitae consectetur voluptas quaerat, voluptate
        provident nemo doloremque.
      </p>
    </div>
  </div>